  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
  @import url('variables.css');
  
  @import url('navbar.css');

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

  #container {
    background-image: url('../imagens/background-mobile.png');
    background-size: contain;
  }

  a.btn {
    text-decoration: none;
  }


  .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    background-color: transparent;
    transition: background-color 0.3s ease ;
  }

  .btn-mobile {
    font-size: 1.5rem;
  }

  .btn-default {
    background-color: var(--color-primary-1);
    color: var(--color-neutral-0);

    &:hover {
      background-color: var(--color-primary-2);
    }
  }


  
  